#resultsContainer{
    margin-top: 20px;
}

.gifLink{
    margin-right: 15px;
}

.gifsResultContainer{
    margin-bottom: 30px;
}

#gifInfo{
    margin-bottom:25px;
}

#authorInfo{
    margin-bottom: 15px;
}